body, html {
    margin: 0;
    font-family: sans-serif;
}
.act {
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h4 {
    font-family: sans-serif;
    margin-left: 7px;
    margin-top: 0;
}
.actions {
    background-color: gainsboro;
    margin-right: 100;
}

.map {
   max-height: 50%;
}

.scale {
   margin: 300;
   
}
.history {
    background-color: darkgrey;
    color: white;
    margin: 20;
}